# 파이썬
- 대쉬

In [6]:
print('hi',end='\t')
print('hello','hi','수요일')
print(type(100)) #int
print()
print(type('hello')) # str
print(type(123.25)) # float
print(type(True)) # bool

hi	hello hi 수요일
<class 'int'>

<class 'str'>
<class 'float'>
<class 'bool'>

In [9]:
print('T','E','S','T',sep='-')
print('2026','02','04',sep='/')

T-E-S-T
2026/02/04

In [18]:
a = 100
print('a의 값은 :',a)
print(f'a의 값은 : {a}')
print('a의 값은 : %d' % a)
print('%d : %s' % (a, 'hi'))
print('%d%%' % 98)

a의 값은 : 100
a의 값은 : 100
a의 값은 : 100
100 : hi
98%

# 변수 
-타입 지정 안함(값이 할당되면 타입이 결정됨)

In [23]:
str1 = 'Life is too short, You need Python'
str2 = """Life is too short, You need Python
Life is too short, You need Python"""
str3 = '''Life is too short, You need Python
Life is too short, You need Python'''

In [24]:
print(str1)
print(str2)
print(str3)

Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python

In [27]:
a = 100
b = 200

c,d = 300,400
print(a,b,c,d)

a = b = c = d = 500
print(a,b,c,d)

100 200 300 400
500 500 500 500

In [28]:
a , b = 10 , 15
print(a,b)

#  a와 b 값 바꿔넣기
a, b = b, a
print(a,b)

10 15
15 10

In [ ]:
str1 = '500'
num1 = 500
# result = str1 + num1
result = int(str1) + num1
print(result)

1000

In [ ]:
# 형변환
# int(), bool(), str(), float()

a = 1.0
print(bool(a))
a = 0.0
print(bool(a)) # 0이면 False

# print(int('99.5')) # error
print(int(99.5)) # 99
print(float('99.5')) # 99.5

True
False
99
99.5

In [36]:
a, b = 5, 3
print(a+b,a-b,a*b,a/b,a//b,a**b,a%b)

8 2 15 1.6666666666666667 1 125 2

In [37]:
a += 5 
print(a)

10

In [44]:
# 동전 교환하기
# 7,777원 => 500원, 100원, 50원, 10원으로 몇 개?
x = 7777
a = x//500
b = (x-(500*a))//100
# b = (x%500)//100
c = (x-(500*a)-(b*100))//50
d = (x-(500*a)-(b*100)-(c*50))//10
print(a,b,c,d)
print('500원 %d개, 100원 %d개, 50원 %d개, 10원 %d개' % (a,b,c,d))
print(f'500원 {a}개, 100원 {b}개, 50원 {c}개, 10원 {d}개')

15 2 1 2
500원 15개, 100원 2개, 50원 1개, 10원 2개
500원 15개, 100원 2개, 50원 1개, 10원 2개

In [45]:
# == , != , >= , <=
a, b = 10, 0
print(a==b, a!=b, a>=b, a<=b)

False True True False

In [48]:
# 논리연산자 : java - &&, ||, ! / python - and, or, not
a, b, c = 10, 50, 49
print(a > b and b > c)
print(a > b or b > c)
print(not b > c)

False
True
False

In [ ]:
# 키보드에서 입력 받기
msg = input('input num : ')
print(msg)
print(type(msg)) # <class 'str'>

112
<class 'str'>

In [53]:
num1 = int(input('input num : '))
print(num1+100)

124512

In [54]:
# 제어문

if True:
    print('Yes!')

Yes!

In [55]:
a = 200

# a가 100보다 크고 200이하이다
if 100 < a and a <= 200:
    print('True')

True

In [56]:
# 위
if 100 < a <= 200:
    print('True')

True

In [60]:
a, b, c = 12, 494, 33

# 가장 큰 수 출력
max = a
if max < b:
    max = b
if max < c:
    max = c

print(f'가장 큰 수 {max}')

가장 큰 수 494

In [ ]:
a = 100
if a < 100:
    print('a는 100보다 작다')
else:
    print('a는 100보다 크거나 같다')

a는 100보다 크다

In [66]:
# print(a < 100 ? 'a는 100보다 작다' :  'a는 100보다 크다') 삼항연산자는 없음

result = 'a는 100보다 작다' if a < 100 else 'a는 100보다 크거나 같다'
print(result)

a는 100보다 크거나 같다

In [64]:
# 입력한 숫자 홀짝 구하기
a = int(input())
if a%2 == 0:
    print('짝')
else: print('홀')

짝

In [67]:
# 다중조건
# if else if else => if elif else
num = 90

if num >= 90:
    print('A')
elif num >= 80:
    print('B')
elif num >= 70:
    print('C')
elif num >= 60:
    print('D')
else: print('E')

A

In [76]:
# 사칙연산(숫자 2개, 연산자 입력받기)
num1 = int(input('num1 :'))
num2 = int(input('num2 :'))
cal = input('연산자 입력 :')

if cal == '+':
    print(num1+num2)
elif cal == '-':
    print(num1-num2)
elif cal == '*':
    print(num1*num2)
elif cal == '/':
    print(num1/num2)
elif cal == '//':
    print(num1//num2)
elif cal == '%':
    print(num1%num2)

558341223

In [1]:
# 반복문

i = 1
while i < 11:
    print(i, end=' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

In [6]:
# 1 ~ 100 숫자 중 짝수 출력

i = 1
while i <= 100:
    if i % 2 == 0:
        print(i,end=' ')
    i += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
# 1 ~ 100 합계 구하기

i, sumI = 1, 0 
while i <= 100:
    sumI += i
    i += 1
print(f'1 ~ 100까지의 합계 {sumI}')

1 ~ 100까지의 합계 5050

In [14]:
# 'q' 문자가 입력되기 전까지 사용자 입력받기

str = ''
while str != 'q':
    str = input()
    print(str)

i
e
gk
ror

gowgkp
gpojeq
q

In [19]:
# range(시작인덱스,끝인덱스,건너뛸수)
# list() == java List == java []
print(range(5))
print(list(range(5)))
print(list(range(1,5)))
print(list(range(1,10,2)))

range(0, 5)
[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [20]:
# for
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [24]:
for i in range(1,11):
    print(i,end=' ')

print()

for i in range(2,11,2):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10

In [25]:
# for문으로 1 ~ 100 합계 구하기

sumI = 0
for i in range(1,101):
    sumI += i
print(sumI)

5050

In [ ]:
# sum() 
sum(range(1,101))

5050

In [6]:
# 특정 숫자를 입력받은 후 1 ~ 입력받은 숫자까지 합계 구하기

x = int(input())
sum(range(1,x+1))

5050

In [7]:
# 역순
for i in range(5,-1,-1):
    print(i,end=' ')

5 4 3 2 1 0

In [10]:
for i in range(3):
    for j in range(3):
        print(j,end=' ')
    print()

0 1 2
0 1 2
0 1 2

In [11]:
# break, continue

i = 1
while i < 11:
    i += 1
    if i % 2 == 1:
        continue
    print(i,end=' ')

2 4 6 8 10