### 함수

```
def 함수명(인수1,...):
    수행할 문장
```

In [ ]:
def hello():
    print("hello")

In [2]:
hello()

hello

In [3]:
def hello2():
    return "hello"

In [4]:
msg = hello2()
msg

'hello'

In [ ]:
def add(x, y):
    return x + y


result = add(6, 2)
result

8

In [ ]:
# default 값 설정
def add(x, y=5):
    return x + y


result = add(6)
result

11

In [ ]:
# 가변 파라메터 *
# param의 개수가 일정하지 않은 경우 사용


def info(*args):
    print(args)


info("nene")
info("eijf", "214", "4", "rgh")
info("eijf", "214", "rgh")
info()  # 결과 값 => tuple

('nene',)
('eijf', '214', '4', 'rgh')
('eijf', '214', 'rgh')
()

In [ ]:
def sum_mul(choice, *args):
    if choice == "+":
        result = 0
        for i in args:
            result += i
    elif choice == "*":
        result = 1
        for i in args:
            result *= i
    return result


print(sum_mul("+", 1, 2, 33, 4, 5))
print(sum_mul("*", 1, 4, 657, 8))

45
21024

In [13]:
## **kwars : 딕셔너리 형태로 처리를 해주는 가변...
def args_func1(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())


args_func1(name="Park")
args_func1(name="Park", name2="Kim", name3="Lee", active=True)
args_func1(name="Park", age=26, addr="Seoul", active=True)

dict_keys(['name'])
dict_values(['Park'])
dict_keys(['name', 'name2', 'name3', 'active'])
dict_values(['Park', 'Kim', 'Lee', True])
dict_keys(['name', 'age', 'addr', 'active'])
dict_values(['Park', 26, 'Seoul', True])

In [ ]:
def args_func2(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)


args_func2(10, 20)
args_func2(10, 20, "park", "kim")
args_func2(10, "park", "kim", age=14, name="choi")
args_func2(10, "", "park", "kim", age=14, name="choi")
args_func2(10, 20, "park", "kim", age=14, name="choi")

10 20 () {}
10 20 ('park', 'kim') {}
10 park ('kim',) {'age': 14, 'name': 'choi'}
10  ('park', 'kim') {'age': 14, 'name': 'choi'}
10 20 ('park', 'kim') {'age': 14, 'name': 'choi'}

In [ ]:
# 다중 리턴 가능 : tuple 구조에 하나로 담아보내줌
def sum_and_mul(x, y):
    return x + y, x * y


result = sum_and_mul(5, 6)
print(result)

sum1, mul1 = sum_and_mul(7, 8)
print(f"{sum1}, {mul1}")

(11, 30)
15, 56

In [21]:
def say_nick(nick):
    if nick == "aho":
        return
    print(f"my nick is {nick}")


print(say_nick("aho"))
say_nick("tensai")

None
my nick is tensai

In [ ]:
# 사직연찬 함수
def fourRules(num1, num2, op):
    if op == "+":
        print(num1 + num2)
    elif op == "-":
        print(num1 - num2)
    elif op == "*":
        print(num1 * num2)
    elif op == "//":
        print(num1 // num2)


result = fourRules(10, 3, "+")
result = fourRules(10, 3, "-")
result = fourRules(10, 3, "*")
result = fourRules(10, 3, "//")

13
7
30
3

In [ ]:
# 사용자한테 두 수와 연산자 입력받기
def fourRules1(num1, num2, op):

    if op == "+":
        print(num1 + num2)
    elif op == "-":
        print(num1 - num2)
    elif op == "*":
        print(num1 * num2)
    elif op == "//":
        print(num1 // num2)


num1 = int(input("num1"))
num2 = int(input("num2"))
op = input("op")

fourRules1(num1, num2, op)

24

In [ ]:
import random

print(random.random())  # == Math.random()
print(random.randint(1, 10))  #
print(random.randrange(0, 100, 10))

0.010163228187492601
7
30

In [ ]:
# 로또 번호 추출
def get_number():
    return random.randint(1, 45)


lotto = set()

while True:
    lotto.add(get_number())
    if len(lotto) == 6:
        break

print(sorted(lotto))

[24, 28, 30, 34, 38, 43]

In [ ]:
# 전역(필드) 변수
a = 1


def func1(a):
    print("지역변수", a)
    a += 1
    print("덧셈 수 지역변수", a)


func1(5)
print(a)

지역변수 5
덧셈 수 지역변수 6
1

In [ ]:
a = 1


def func1():
    global a  # 함수 내부에서는 필드 변수 접근불가, 따라서 global로 접근
    a += 1
    print("덧셈 수 변수", a)


func1()

덧셈 수 변수 2

### 람다 함수

- 단일문으로 표현되는 익명함수
- 일회성으로 함수를 만들어 사용

In [ ]:
# 숫자를 받아 **2 리턴하는 함수
def square(num):
    return num**2


print(square(8))

64

In [ ]:
square = lambda num: num**2
square(9)

81

In [ ]:
add = lambda x, y: x + y
add(9, 2919)

2928

In [ ]:
# 글자 길이로 정렬
contents = ["bob", "charles", "alexander3", "teddy"]


def strlen(s):
    return len(s)


# contents.sort(key=strlen)
# contents.sort(key=lambda s: len(s))
contents.sort(key=len)
print(contents)

['bob', 'teddy', 'charles', 'alexander3']

In [70]:
# filter, map, reduce

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 짝수 추출 후 새로운 리스트 생성
# 방법 1
evens = [i for i in list1 if i % 2 == 0]


# 방법 2
def even(list):
    for i in list:
        if i % 2 == 0:
            evens.append(i)


even(list1)

# 방법 3
list(filter(lambda i: i % 2 == 0, list1))

[2, 4, 6, 8]

In [71]:
# map()
list1 = [1,2,3,45,6,7,8,8,38,86,9,2,58]

list(map(lambda x: x**2, list1))

[1, 4, 9, 2025, 36, 49, 64, 64, 1444, 7396, 81, 4, 3364]