### 문자열 타입

- 파이썬에서 문자열 '',"" 가능
- ''' ''', """ """ 가능

In [ ]:
str1 = "Life is too short, You need Python"
str1 = """Life is too short, You need Python"""
str1 = """Life is too short, You need Python"""

In [2]:
str1

'Life is too short, You need Python'

In [ ]:
str1 = """Life is too short,
 You need Python"""

str1

'Life is too short,\n You need Python'

In [ ]:
str1 = """\
Life is too short, You need Python
"""

str1

'Life is too short, You need Python\n'

In [ ]:
# + : 연결

str1 = "hihi"
str2 = "eiei"

str1 + str2

'hihieiei'

In [9]:
# * : 반복
str2 * 2

'eieieiei'

In [ ]:
print("*" * 20)
print("**********************************")

********************
**********************************

In [ ]:
# 길이 구하기
str = "wieofjiaofiewjo"
len(str)

15

In [12]:
# 문자열 인덱싱과 슬라이싱
str = "Life is too short, You need Python"
print(str[0])  # 시작
print(str[-1])  # 끝
print(str[-3])

print(str[0:5])  # 인덱싱을 이용해 슬라이싱
print(str[5:])
print(str[19:-7])

L
n
h
Life
is too short, You need Python
You need

In [ ]:
str1 = "20260205Sunny"

date = str1[0:8]
weather = str1[8:]
print(date, weather)

20260205 Sunny

In [24]:
str = "950411-2234567"

# 주민등록번호로 남녀 판별하기
if str[7] == "1" or "3":
    print("남")
else:
    print("여")

남

In [25]:
str = "Life is too short, You need Python"

for s in str:
    print(s, end=" ")

L i f e   i s   t o o   s h o r t ,   Y o u   n e e d   P y t h o n

In [ ]:
# 숫자 입력 받아 각 자리수의 수만큼 하트 출력
s = input()
for i in range(len(s)):
    for j in range(int(s[i])):
        print("♥", end=" ")
    print()

♥
♥ ♥
♥ ♥ ♥
♥ ♥ ♥ ♥
♥ ♥ ♥ ♥ ♥

In [39]:
print("I eat %d apples" % 3)
print("I eat %s apples" % 3)

I eat 3 apples
I eat 3 apples

In [ ]:
print("%10s" % "hi")

'        hi'

In [42]:
# format()
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))

I eat 3 apples
I eat five apples

In [ ]:
number = 10
day = "three"

print("I eat {0} apples. so I was sick for {1} days".format(number, day))

I eat 10 apples. so I was sick for three days

In [46]:
print("{0:>10}".format("hi"))  # 총 10자리 우측정렬
print("{0:^10}".format("hi"))  # 총 10자리 가운데정렬
print("{0:<10}".format("hi"))  # 총 10자리 좌측정렬

print(f"{number:>10}")
print(f"{number:^10}")
print(f"{number:<10}")

        hi
    hi
hi
        10
    10
10

In [ ]:
# 문자열 함수

a = "hobby"

print(a.count("a"))  # a 문자열 안 b 문자의 개수
print(a.find("b"))  # 특정 문자 찾기, 못 찾으면 -1
print(a.index("y"))
# print(a.index("a"))  # ValueError: substring not found

",".join(a)  # 문자열 삽입

list1 = ["a", "b", "c"]
print(list1)
print("".join(list1))  # ★★★★★ 리스트를 문자열로 변경

print(a.upper())  # lower()

b = "               hi              "
print(b)
print(b.rstrip())  # 공백없애기 좌우
print(b.lstrip())
print(b.strip())

a = "Life is too short"
print(a.replace("Life", "Your leg"))  # 바꾸기
print(a.split())  # 문자열 나누기 기본 == 공백
print(a.startswith("is"))  # False

0
2
4
['a', 'b', 'c']
abc
HOBBY
               hi
               hi
hi
hi
Your leg is too short
['Life', 'is', 'too', 'short']
False

In [ ]:
# 년/월/일로 입력 받아 10년 후의 날짜 계산 후 출력 => ?년 ?월 ?일
date = input()

year = int(date[0:4]) + 10

print(f"{year}년 {date[5:7]}월 {date[8:]}일")

pos = date.find("/")
year = int(date[0:pos]) + 10
print(f"{year}년 {date[5:7]}월 {date[8:]}일")

2036년 05월 07

In [66]:
date = date.split("/")

year = int(date[0]) + 10

print(f"{year}년 {date[1]}월 {date[2]}일")

2036년 05월 07일

In [78]:
# 비밀번호 생성
# http://naver.com
# 규칙 1. http:// 제외
# 규칙 2. 첫번째로 나오는 마침표 이후 부분 제외
# 규칙 3. 남은 글자 중 처음 세 자리 + 글자 개수 + 글자 내 'e' 문자 개수 + !로 비밀번호 조합

str = "http://naver.com"

# idx = str.index('//')
# str = str[idx+2:]
str = str.replace("http://", "")
print(str)

idx = str.find(".")
str = str[:idx]
print(str)

pwd = f"{str[:3]}{len(str)}{str.count('e')}!"
print(pwd)

naver.com
naver
nav51!

### List

- 자바스크립트의 배열구조와 동일
- 중복가능, 순서가 있음

In [1]:
# 리스트 생성
list1 = []
list2 = list()
list3 = ["a", "b", "c"]
list4 = ["a", "b", "c", 5, 2, False, 3.14, ["life", "is", "too", "short"]]

print(list1)
print(list2)
print(list3)
print(list4)

[]
[]
['a', 'b', 'c']
['a', 'b', 'c', 5, 2, False, 3.14, ['life', 'is', 'too', 'short']]

In [ ]:
# 인덱싱과 슬라이싱
print(list3[1:])
print(list3[-1:])
print(list4[7][1])
print(list4[-1][-1])
print(list3[::-1])  # 역순으로 전체 출력

['b', 'c']
['c']
is
short
['c', 'b', 'a']

In [ ]:
# +
print(list3 + list4)

['a', 'b', 'c', 'a', 'b', 'c', 5, 2, False, 3.14, ['life', 'is', 'too', 'short']]

In [ ]:
# *
print(list3 * 2)

['a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
# 리스트 값 수정
list3[2] = "d"
list3

['a', 'b', 'd']

In [ ]:
list3[1:2] = [10, 11]
list3

['a', 10, 11, 'd']

In [ ]:
list3[1] = [13, 14]
list3

['a', [13, 14], 11, 'd']

In [ ]:
# list2.append("13",15,16) # TypeError: list.append() takes exactly one argument
list2

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
# 삭제
# list2.pop()

list2 = [15, 26, 47]
list2[1:2] = []
list2

[15, 47]

In [17]:
# 삭제 : del
del list3[2]
list3

['a', [13, 14], 'd']

In [ ]:
# 정렬
list5 = [134, 15, 294, 1950, 46949, 192, 95, 91, 3, 59, 31]
print(f"정렬 전 {list5}")
list5.sort()  # 원본이 정렬됨
print(f"정렬 후 {list5}")

list6 = ["f", "e", "a", "b", "g", "c", "r"]
print(f"정렬 전 {list6}")
list6.sort()
print(f"정렬 후 {list6}")

정렬 전 [134, 15, 294, 1950, 46949, 192, 95, 91, 3, 59, 31]
정렬 후 [3, 15, 31, 59, 91, 95, 134, 192, 294, 1950, 46949]

In [1]:
list6 = ["f", "e", "a", "b", "g", "c", "r"]
print(f"정렬 전 {list6}")
list6.sort(reverse=True)
print(f"정렬 후 {list6}")

정렬 전 ['f', 'e', 'a', 'b', 'g', 'c', 'r']
정렬 후 ['r', 'g', 'f', 'e', 'c', 'b', 'a']

In [ ]:
# sorted()

list6 = ["f", "e", "a", "b", "g", "c", "r"]
result = sorted(list6)  # 원본 보존
print(list6)
print(result)

['f', 'e', 'a', 'b', 'g', 'c', 'r']
['a', 'b', 'c', 'e', 'f', 'g', 'r']

In [ ]:
# remove()

list6.remove("f")
print(list6)

['e', 'a', 'b', 'g', 'c', 'r']

In [ ]:
list6.append("a")
list6.remove("a")  # 처음 찾은 요소만 제거
list6

['e', 'b', 'g', 'c', 'r', 'a', 'a']

In [ ]:
list6.pop()  # 맨 마지막 요소 제거

'a'

In [14]:
list6

['e', 'b', 'g', 'c', 'r', 'a']

In [15]:
list6.pop(2)
list6

['e', 'b', 'c', 'r', 'a']

In [ ]:
# count()
list6.count("a")

1

In [ ]:
list7 = [1, 2, 4, 6]
list6.extend(list7)
list6

['e', 'b', 'c', 'r', 'a', 1, 2, 4, 6]

In [ ]:
list7.clear()
list7

[]

In [ ]:
# 100 이상의 숫자 개수
numbers = [153, 59, 4, 0, 3, 51, 9639, 493, 32, 156, 44]

coun = 0
for i in range(len(numbers)):
    if numbers[i] > 100:
        coun += 1
print(coun)

4

In [ ]:
# numbers의 숫자와 자릿수 출력
# ex. 153 : 3자리

# for i in range(len(numbers)):
#     if numbers[i] // 1000 > 0:
#         print(f"{numbers[i]} : 4자리")
#     elif numbers[i] // 100 > 0:
#         print(f"{numbers[i]} : 3자리")
#     elif numbers[i] // 10 > 0:
#         print(f"{numbers[i]} : 2자리")
#     elif numbers[i] // 1 > 0:
#         print(f"{numbers[i]} : 1자리")
#     elif numbers[i] == 0:
#         print(f"{numbers[i]} : 0")

for num in numbers:
    print(f"{num} : {len(str(num))}자리")

153 : 3자리
59 : 2자리
4 : 1자리
0 : 1자리
3 : 1자리
51 : 2자리
9639 : 4자리
493 : 3자리
32 : 2자리
156 : 3자리
44 : 2자리

In [ ]:
# 1 ~ 100 까지의 숫자 중 짝수인 list 생성
list2 = []

for i in range(len(numbers)):
    if numbers[i] % 2 == 0:
        list2.append(numbers[i])
print(list2)

numList = list(range(2, 101, 2))
print(list(range(2, 101, 2)))
print(numList)

[4, 0, 32, 156, 44]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 비어 있는 리스트, 문자 : False

list1 = []

if list1:
    print("True")
else:
    print("False")

city = ""

if city:
    print("True")
else:
    print("False")

False
False

In [ ]:
# in

fruits = ["apple", "banana", "strawberry", "kiwi", "melon"]

"watermelon" in fruits

False

In [ ]:
# enumerate() => index, value를 튜플 형태로 반환

for idx, fruit in enumerate(fruits):
    print(idx, fruit)  # (0, 'apple') 튜플의 형태

0 apple
1 banana
2 strawberry
3 kiwi
4 melon

In [49]:
# A반의 점수의 합과 평균 구하기

total = 0
classA = [80, 90, 85, 70, 100, 94, 55, 97, 65]

for grade in classA:
    total += grade
print(f"{total}, {total/len(classA)}")

print(f"{sum(classA)}, {sum(classA)/len(classA)}")

736, 81.77777777777777
736, 81.77777777777777

In [ ]:
car_name = "A"
ord(car_name)  # 65
chr(66)

'B'

In [ ]:
# 주차장 프로그램
# 5대만 주차 가능 (차례대로 입차)

parking_lot = []
top, car_name = 0, "A"

while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 프로그램 종료"))

    if no <= 3:
        if no == 1:
            if top >= 5:
                print("만차")
            else:
                parking_lot.append(car_name)
                car_name = chr(ord(car_name) + 1)
                top += 1
                print(f"주차장 상태 {parking_lot}")
        elif no == 2:
            if top > 0:
                parking_lot.pop()
                car_name = chr(ord(car_name) - 1)
                top -= 1
                print(f"주차장 상태 {parking_lot}")
            else:
                print("출차 할 차 없음")
        elif no == 3:
            print("프로그램 종료")
            break
    else:
        print("번호를 확인하십시오")

주차장 상태 ['A']
주차장 상태 ['A', 'B']
주차장 상태 ['A', 'B', 'C']
주차장 상태 ['A', 'B', 'C', 'D']
주차장 상태 ['A', 'B', 'C', 'D', 'E']
만차
만차
만차
만차
주차장 상태 ['A', 'B', 'C', 'D']
주차장 상태 ['A', 'B', 'C']
주차장 상태 ['A', 'B']
주차장 상태 ['A']
주차장 상태 []
출차 할 차 없음
출차 할 차 없음
출차 할 차 없음
출차 할 차 없음
출차 할 차 없음
출차 할 차 없음
번호를 확인하십시오
출차 할 차 없음
출차 할 차 없음
출차 할 차 없음
출차 할 차 없음
출차 할 차 없음
번호를 확인하십시오
프로그램 종료

In [ ]:
# list comprehension
# 1 ~ 7 list 생성
numList = list(range(1, 8))
numList
numList = [i for i in range(1, 8)]
numList

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 정을 제외한 새로운 리스트 생성
list1 = ["갑", "을", "병", "정", "무"]

list2 = [a for a in list1 if a != "정"]
list2

['갑', '을', '병', '무']

In [ ]:
# 1 ~ 100까지 홀수만 담는 리스트 생성
list2 = [i for i in range(1, 101) if i % 2 == 1]
print(list2, end=" ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [72]:
# 5글자 이상의 항목만
list1 = ["aoiwejfo", "eji", "wnekn", "eme", "waigow"]
list2 = [i for i in list1 if len(i) >= 5]
list2

['aoiwejfo', 'wnekn', 'waigow']

In [ ]:
print("ABC".isalpha())  # 알파벳인지
print("ABC".isnumeric())  # 숫자인지
print("ABC".isupper())
print("ABC".islower())
print("ABC".isalnum())  # 알파벳 or 숫자

True
False
True
False
True

### 튜플 (tuple)

- 리스트와 동일
- 차이점 : 수정 불가
- 조회 용도 (속도가 빠름)

In [ ]:
t1 = 1, 2, 3
t2 = ()
t3 = (1,)
t4 = (1, 2, ("Life", "is"))

In [3]:
print(t1)
print(t2)
print(t3)
print(t4)

(1, 2, 3)
()
(1,)
(1, 2, ('Life', 'is'))

In [ ]:
# tuple 삭제 TypeError: 'tuple' object doesn't support item deletion , 불가
# del t1[0]

# 수정
# t1[0] = 15  # TypeError: 'tuple' object does not support item assignment, 불가

TypeError: 'tuple' object does not support item assignment

In [ ]:
# +, * ...
print(t1 * 2)
print(t1 + t3)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1)

In [14]:
# 인덱싱, 슬라이싱

print(t4[0])
print(t4[:2])

1
(1, 2)

In [15]:
# 튜플 제거(전체)

del t1

### 딕셔너리 dictionary

- java의 map 구조와 동일
- key:value
- key는 중복 불가

In [16]:
# 생성
dict1 = {}
dict2 = {"name": "hong", "age": 12}
dict3 = {0: "python", 1: "java"}
dict4 = {"arr": [1, 2, 3, 4, 5], "t1": (1, 2, 3, 4, 5)}

In [ ]:
# 조회 : key 값으로 조회
dict2["name"]
# dict2['addr'] # KeyError: 'addr'
dict2.get("addr")

In [ ]:
# 추가
dict2["addr"] = "Seoul"
dict2

dict3[2] = ["javascript", "node.js"]
dict3

{0: 'python', 1: 'java', 2: ['javascript', 'node.js']}

In [ ]:
# 수정
dict2["name"] = "kim"

{'name': 'kim', 'age': 12, 'addr': 'Seoul'}

In [ ]:
numbers = [1, 2, 3, 4, 5, 2, 6, 9, 6, 6, 8, 1, 3, 7]
counter = {}

# 출력문
# {1:2(개), 2:2, 3:2}
for i in numbers:
    counter[i] = numbers.count(i)
print(counter)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1, 6: 3, 9: 1, 8: 1, 7: 1}
dict_keys([1, 2, 3, 4, 5, 6, 9, 8, 7])

In [ ]:
# 삭제 : key 값으로 삭제
del dict2["addr"]
print(dict2)

In [31]:
# keys()
print(dict2.keys())
print(dict3.keys())

dict_keys(['name', 'age'])
dict_keys([0, 1, 2])

In [32]:
# values()
print(dict2.values())

dict_values(['kim', 12])

In [ ]:
# items() : key, value 둘 다
print(dict2.items())
print(dict3.items())

dict_items([('name', 'kim'), ('age', 12)])
dict_items([(0, 'python'), (1, 'java'), (2, ['javascript', 'node.js'])])

In [ ]:
for k, v in dict3.items():
    print(f"{k} : {v}")

0 : python
1 : java
2 : ['javascript', 'node.js']

In [ ]:
# in , not in
print("name" in dict2)
print("name" not in dict2)

True
False

In [37]:
# clear()

dict2.clear()
print(dict2)

{}

In [ ]:
# 딕셔너리 생성하기

# A : 90, B : 80, C : 70
# B키에 해당하는 값만 출력
# B 키 값을 삭제
dict5 = {"A": 90, "B": 80, "C": 70}
print(dict5["B"])
del dict5["B"]
print(dict5)

80
{'A': 90, 'C': 70}

In [44]:
# 성인 : 10000, 청소년 : 8000, 아동 : 3000 생성
# 소아 : 0 추가
# key만 출력
# value만 출력

dict6 = {"성인": 10000, "청소년": 8000, "아동": 3000}
dict6['소아'] = 0
print(dict6.keys())
print(dict6.values())

dict_keys(['성인', '청소년', '아동', '소아'])
dict_values([10000, 8000, 3000, 0])

In [46]:
# 형변환
list(dict6.values())
list(dict6.keys())

['성인', '청소년', '아동', '소아']

### set : 집합
- 중복 불가 
- 순서가 없음 : 인덱싱 불가

In [47]:
s1 = set()
s2 = set([1,2,3])
s3 = set([1,2,3,3,3])
s4 = set('Hello')

In [48]:
print(s1)
print(s2)
print(s3)
print(s4)

set()
{1, 2, 3}
{1, 2, 3}
{'l', 'e', 'H', 'o'}

In [51]:
# 인덱싱을 하고싶다면? 형변환
t1 = tuple(s2)
t1
s2

list1 = list(s3)
list1[2]

3

In [57]:
# 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2)
print(s1.intersection(s2))

print(s1 | s2)
print(s1.union(s2))

print(s1 - s2)
print(s1.difference(s2))

#대칭 차집합
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [58]:
s2.add(15)
s2

{4, 5, 6, 7, 8, 9, 15}

In [61]:
s2.remove(15)
s2

{4, 5, 6, 7, 9}